global
    maxconn 100
    log /sidecar/log local0

defaults
    log global
    mode http
    option httpclose
    retries 5
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80

    acl has_servWeb1 path_beg /servWeb1
    acl has_servWeb2 path_beg /servWeb2

    #reqrep ^([^\ ]*\ /)servWeb1[/]?(.*)     \1\2 if has_servWeb1
    #reqrep ^([^\ ]*\ /)servWeb2[/]?(.*)     \1\2 if has_servWeb2

    use_backend servWeb1 if has_servWeb1
    use_backend servWeb2 if has_servWeb2

    default_backend servWeb1

backend servWeb1
    reqrep ^([^\ ]*\ /)servWeb1[/]?(.*)     \1\2
    server servWeb1 servWeb1:80 check

backend servWeb2
    reqrep ^([^\ ]*\ /)servWeb2[/]?(.*)     \1\2
    server servWeb2 servWeb2:80 check
